*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  --color-primary: #553625;
  --color-secondary: #7e4f43;
  --color-background: #f6dabd;
  --color-accent: #060403;
}

.page {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 2rem;
}

body {
  background: var(--color-background);
}

.btn {
  cursor: pointer;
  background-color: var(--color-primary);
  font-family: "Libre Baskerville", serif;
  color: white;
  text-decoration: none;
  border-radius: 0.95rem;
  padding: 0.375rem 0.75rem;
}

.title {
  margin-top: 1rem;
  font-size: 2.375em;
}
